@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

body {
  background-color: #001f3f;
  color: white;
  font-family: sans-serif;
}

body {
  background-color: #000;
  font-family: sans-serif;
}

body {
  font-family: "Shadows Into Light", cursive;
  font-weight: 400;
  font-style: normal;
}


nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

nav h1 {
  margin: 0;
  font-size: 20px;

}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  margin-left: 1rem;
}

nav a {
  color: inherit;
  font-weight: bold;
  font-size: 20px;
  text-decoration: underline;
}

.art {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 80vh;
}

.post-links {
  font-size: 18px;
  font-weight: normal;
  color: white;
}

.post-list {
  list-style-type: circle
}

.post-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  width: 70%
}

.heading {
  font-size: 28px;
  margin-bottom: 4px;
  text-align: center;
}

.meta-data {
  font-size: 16px;
  font-weight: normal;
  text-align: center;
}

.content {
  font-size: 18px;
  font-weight: bold;
}

.main-post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  padding: 2rem;
}

@media (max-width: 768px) {
  .post-content {
    width: 100%;
    padding-left: 24px;
    padding-right: 24px;
  }
}
